@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --cor0: #16F2F2;
    --cor1: #1BF2DD;
    --cor2: #1CA698;
    --cor3: #17736A;
    --cor4: #0D0D0D;

    --fonte-padrao: Arial, Verdana,Helvetica, sans-serif;
    --fonte-destaque: 'dynapuff';
    --fonte-principal: 'roboto mono'
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor2);
}

header {
    background-color: var(--cor4);
    color: var(--cor1);
    text-align: center;
    min-height: 130px;
}

header > h1 {
    padding-top: 30px;
    font-family: var(--fonte-principal);
    font-size: 35px;
}

header > p {
    padding-top: 25px;
    font-family: var(--fonte-principal);
    font-size: 15px;
}

nav {
    min-height: 25px;
    background-color: var(--cor3);
    padding: 5px 10px;
    padding-top: 10px;
}

nav > a {
    padding: 2px;
    border-radius: 5px;
    color: var(--cor0);
    padding: 2px;
    font-family: var(--fonte-destaque);
}

nav > a.yt:hover {
    background-color: #fa0234;
    color: white;
}

nav > a.tw:hover{
    background-color: #9548ff;
    color: white;
}

nav > a.in:hover {
    background-image: linear-gradient(to right ,#7b38b2,
    #de5a50,#fca73d,#de5a50,#7b38b2);
    color: white;
}

nav > a.x:hover {
    background-color: black;
    color: white;

}

main {
    min-width: 300px;
    max-width: 1000px;
    padding: 10px;
    margin: auto;
    background-color: white;
}

main > h1 {
    padding: 5px;
    font-family: var(--fonte-principal);
    background-image: linear-gradient(to right , var(--cor2),transparent);
}

main > p {
    padding: 10px 5px;
    font-family: var(--fonte-padrao);
}

abbr.ag {
    text-decoration: underline;
}

img.ag {
    max-width: 500px;
    max-height: 450px;
    display: block;
    margin: auto;
    padding-bottom: 10px;
}

main > h2 {
    padding: 5px;
    background-image: linear-gradient(to right , var(--cor2),transparent);
}

img.ic {
    max-width: 500px;
    max-height: 450px;
    display: block;
    margin: auto
}